.contentEditable {
    height: 300px;
    width: 100%;
    padding: 0 8px;
    border: 1px solid #fff;
}

.placeholder {
    position: absolute;
    top: 60px;
    padding-left: 8px;
}

.glyf-editor-bold {
    color: yellow;
}

.glyf-editor-italic {
    color: aqua;
}

.glyf-editor-h1 {
    background-color: blanchedalmond;
}
